{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ firstName }}
{% endblock %}

{% block body %}
    <h1>Hello {{ firstName|capitalize }}</h1>

    <h2>Your favourites games: </h2>
    <ul>
        {% for game in favouritesGames %}
        <li>{{ game }}</li>
        {% endfor %}
    </ul>
{% endblock %}

