{% extends 'base.html.twig' %}

{% block body %}
    <h3>Add a new game</h3>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form(form) }}
    {{ form_end(form) }}
{% endblock %}
