{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Wiadomości:
                </h3>
            </div>
            <div class="panel-body">
                <div id="news">
                    <ul>
                        {% for one in news %}
                            <li>
                                {{ one.title }} - <a href="{{ path('news_show_one', {'id': one.id}) }}">details</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
